$bg-color: #0d0d0d;
$border-color: #161616;
$text-color: #dedede;
$placeholder-color: #5d5d5d;
$secondary-text: #6c6c6c;
$input-bg: #222;
$input-border: #252525;
$primary-color: #d29b3c;
$primary-hover: #b87d26;
